
@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;600;700;800;900&family=Montserrat&family=Raleway:wght@100;200;300;400;500;600;700;800&family=Sofia&display=swap');


html,body{
background-color: rgb(228, 224, 220);
height: 100%;
font-family: 'Montserrat', sans-serif;
}

.container{
height: 100%;
align-content: center;
margin-top: 100px;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: maroon !important;
}

.card-header h3{
color: white;
margin-top: 20px;
}

.input-group-prepend span{
width: 50px;
background-color: rgb(241, 174, 4);
color: white;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login_btn{
color: white;
width: 100px;
}

.login_btn:hover{
color: white;
background-color: rgb(12, 100, 233);
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.navbar{
    z-index: 99;
    background: #fff;
}
.navbar p{
    margin-top: 10px;
    color: white;
}
.fixed-top{
    padding: 20px 0 20px 8px;
}
.fixed-top .navbar-nav li a{
    font-size: 15px;
    color: black !important;
}
.fixed-top .navbar-nav li a:hover{
   background-color: cadetblue;
   border-radius: 30px;
   color: white !important;
}
#login{
    color: #111;
    margin-right: 300px;
}

@media screen and (max-width:767px){
    #navbar-dark{
        background-color: #111 !important;
    }
}
#main-bar{
    position: absolute;
    width: 100%;
    position: fixed;
    top: 12%;
    z-index: 2;
    padding: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
#main-bar .nav-item{
    margin-left: 10px;
    font-size: 17px;
    padding: 5px;
}
#main-bar .nav-link{
    color: black;
    font-weight: 500;
    padding: 10px;
    margin-left: 10px;
}
#main-bar .nav-link:hover{
    border-bottom:2px solid cadetblue;

}
#main-bar img{
    width: 45px;
    height: 45px;
}
#searchbtn{
    background-color:  rgb(5, 115, 158);
    color: wheat;
}
#searchbtn:hover{
    background-color: rgb(7, 146, 201);
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-item:hover{
    background-color: rgb(63, 115, 212);
    color: white;
}
footer{
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    background: maroon;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
    height: 300px;
}
.socialmedia{
    display: flex;
    justify-content: center;
}
.socialmedia a{
    padding: 10px;
    text-decoration: none;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialmedia a i{
    font-size: 2em;
    color: #111;
    opacity: 0.9;
}
.socialmedia a:hover{
    background-color: maroon;
    transition: 0.5s;
}
.socialmedia a i:hover{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 20px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li{
    color: white;
    font-size: 15px;
    font-family: 'Monsterrat', sans-serif;
    padding: 20px;
    align-items: center;
}
.footerBot{
    background-color: #510400;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
    font-size: 18px;
}
.designer{
    letter-spacing: 1px;
    opacity: 0.7;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footerNav{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
